@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.movie-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  padding: 16px;
  background-color: white;
}

.movies-list, .watchlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spinner {
  text-align: center;
  margin: 20px 0;
}
